<!-- En la vista products.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Productos</title>
</head>
<body>
  <!-- Cambio agregado para mostrar el mensaje de bienvenida -->
  {{#if user}}
    <h1>Bienvenido, {{user.username}}!</h1>
  {{/if}}
  
  <p style="color:red"><strong>{{error}}</strong></p>

  {{#if payload}}
    <h1>Listado de Productos</h1>
    <ul>
    {{#each payload}}
        <li>Nombre: {{this.title}}  Precio: {{this.price}}</li>
        <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    {{/each}}
    </ul>

    {{#if hasPrevPage}}
        <a href={{prevLink}}>Anterior</a>
    {{/if}}

    {{page}}

    {{#if hasNextPage}}
        <a href={{nextLink}}>Siguiente</a>
    {{/if}}
  {{else}}
    <h2>No hay productos</h2>
  {{/if}}

  <script>
    const addToCart = async (productId) => {
      const res = await fetch(`/api/carts/${cartId}/product/${productId}`);
      const data = await res.json();
      if (data.status === "success") {
        Swal.fire("Agregado al carrito!", "", "success"); 
      }
    }
  </script>
</body>
</html>
